body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff5757, #ffa857);
    font-family: system-ui, sans-serif;
}

/* --- HEADER --- */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    
    height: 70px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* эффект стекла */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);

    border-bottom: 1px solid rgba(255,255,255,0.25);
    box-shadow: 0 4px 25px rgba(0,0,0,0.2);
}

/* Заголовок */
h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
}

/* MENU */
ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
    font-size: 16px;
    padding: 5px 0;
}

/* красивое ховерание underline */
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: white;
    transition: .3s;
}

a:hover::after {
    width: 100%;
}
